<nav class="navbar">
  <div class="nav-brand">
    <span class="brand-dot"></span>
    MediaHub
  </div>

  <button class="burger" (click)="menuOpen = !menuOpen" [class.open]="menuOpen">
    <span></span><span></span><span></span>
  </button>

  <div class="nav-links" [class.active]="menuOpen">
    <a routerLink="/posts" routerLinkActive="active" (click)="menuOpen = false">Posts</a>

    <ng-container *ngIf="!myuserservice.authenticated()">
      <a routerLink="/login" routerLinkActive="active" (click)="menuOpen = false">Login</a>
    </ng-container>

    <ng-container *ngIf="myuserservice.authenticated()">
      <a routerLink="/addpost" routerLinkActive="active" (click)="menuOpen = false">Add Post</a>
      <div class="nav-user">
        <img [src]="myuserservice.getloggeduser()?.imgurl" alt="avatar" class="nav-avatar" />
        <span>{{ myuserservice.getloggeduser()?.name }}</span>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </ng-container>
  </div>
</nav>