<form *ngIf="showform" (ngSubmit)="addpost()" #postform="ngForm">
  <label> title</label>
  <input type="text" name="title" [(ngModel)]="newpost.title" #title="ngModel" required />
  <div *ngIf="title.invalid && title.touched" class="alert alert-danger">title is required</div>
  <input type="text" name="body" [(ngModel)]="newpost.body" #body="ngModel" required />
  <div *ngIf="body.invalid && body.touched" class="alert alert-danger">body is required</div>
  <button type="submit" [disabled]="postform.invalid">sendpost</button>
</form>
<button (click)="toggleForm()">{{ showform ? 'backtoposts' : 'add post' }}</button>